.heading{
  text-align: center;
  /* border: 3px solid black; */

  color: #FFF;
  font-family: monospace;
  font-size: 50px;
}

body{
  background: url("phone.jpg");
}

input{
  width: 250px;
  height: 60px;
  background-color:#70eefa;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 15%;
  margin-top: 2%;
  cursor: pointer;
  margin-bottom: 2%;
  font-weight: bold;
}
input:hover{
  background-color: green;
}

#ad{
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.manageAccount{
  background-color: rgba(0,0,0,.5);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  border: 2px solid white;
  border-radius: 20px;
}

form{
  margin-bottom: 30px;
  margin-top:30px;
}

#logOut{
  margin-left: 40%;
}
